DATABASE_URL="postgresql://neondb_owner:npg_DPikGA6XONT2@ep-misty-violet-avt0zwb0-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
JWT_SECRET="nabssku_super_secret_jwt_key_2026_q2_malang"
NEXT_PUBLIC_APP_URL="https://nabs.vercel.app"
